---
import BlogPost from '../components/BlogPost.astro';
import BaseLayout from '../layouts/BaseLayout.astro';
import { sortByDate } from '../utils';

const pageTitle = 'Blog Page';

const allPosts = await Astro.glob('../pages/posts/*.md');

const sortedPosts = allPosts.sort(sortByDate);
---

<html lang='en'>
  <head>
    <meta charset='utf-8' />
    <link rel='icon' type='image/svg+xml' href='/logo.svg' />
    <meta name='viewport' content='width=device-width' />
    <meta name='generator' content={Astro.generator} />
    <meta name='description' content='Blog page' />
  </head>
  <body>
    <BaseLayout pageTitle={pageTitle}>
      <div
        class='grid grid-cols-1 md:grid-cols-2 gap-16 max-w-[90%] md:max-w-[70%] lg:max-w-[60%] mx-auto mt-16 md:mt-8'
      >
        {
          sortedPosts.map((post) => (
            <BlogPost
              url={post.url}
              title={post.frontmatter.title}
              excerpt={post.frontmatter.excerpt}
              date={post.frontmatter.date}
              tags={post.frontmatter.tags}
            />
          ))
        }
      </div>
    </BaseLayout>
  </body>
</html>
